@CHARSET "UTF-8";

html,body{
	width : 100%;
	height : auto;
}

header>a{
	color : black;
}

#language-list>li>a{
	color : rgba(0,0,0,0.4);
}

.activate{
	color : black !important;
}

#category-list>li>a{
	color : rgba(0,0,0,0.5);
}

#category-list>li:NTH-CHILD(5n)>a {
	color : black;
}

section{
	width : 80%;
	max-width : 1000px;
	height : auto;
	
	margin : 0 auto;
	padding-top : 180px;
}

h3{
	text-align: center;
	margin-bottom : 50px;
}

#event-list{
	width : 100%;
	height : auto;
}

#event-list>li{
	width : calc(100%/2.1);
	height : auto;
	
	display : inline-block;
}

.event-cell{
	width : 60%;
	max-width : 500px;
	height : auto;
	
	margin : 0 auto;
}

.event-cell>img{
	width : 100%;
	height : auto;
	border-radius : 30px;
}

footer{
	position : absolute;
	bottom : 0;
}

#temp-picture{
	width : 40%;
	max-width : 500px;
	display : block;
	margin : 0 auto;
	border-radius : 10px;
}